<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/alma/container/Container"
			class = "org.xtext.alma.container.container.ContainerPackage"
			genModel = "model/generated/Container.genmodel" />
	</extension>
</plugin>
